<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Rodofret</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="destaque">
        <img src="{{url}}">
    </header>
    <section class="texto">

        <h3>Olá, <strong>{{nome}}</strong>,</h3>

    </section>

    <footer>
        <img src="{{url}}">
    </footer>
</body>

</html>